<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA All Time Stats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>NBA All Time Stat Leaders</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a></p>
    </div>

    <div class="row" id="nba-team_leaders">
      <div class="col-md-12">
        <h4 class="heading">{{team_leaders.teamname}} <br><br>
          mycol.distinct("pointsleader", {"teamname": "New York Knicks"})
          <br><br>
        </h4>

        <table id="myTable"></table>

      </div>
    </div>

  </div>

  
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src="../static/js/data_2.js"></script>
    <script src="../static/js/logic.js"></script>




</body>

</html>
